<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicco.architectures.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nicco.architectures.android.update_mvvm.MVVMUpdateActivity"></activity>
        <activity android:name=".mvi.ui.view.MVIActivity" />
        <activity android:name=".mvvmclean.ui.MVVMCleanActivity" />
        <activity android:name=".mvpclean.ui.MVPCleanActivity" />
        <activity android:name=".mvvm.MVVMActivity" />
        <activity android:name=".mvp.MVPActivity" />
        <activity android:name=".mvc.MVCActivity" />
        <activity android:name=".main.ListArchsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>